<!doctype html>
<html lang="zn-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone-no">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <title>排行</title>
</head>
<body>
<div id="app" :style="{width: windowWidth+'px',height: '100%',overflow: 'hidden'}">
    <% include include/common-header.html %>
    <div class="container-scroll">
        <ul class="rank-list">
            <li v-for="(item,index) in result.items" v-if="index>18">
                <div class="rank-item">
                    <div class="item-icon">
                        <img :src=item.cover
                             :alt="item.name">
                    </div>
                    <div class="item-info-list">
                        <p class="info-line" v-for="(book,index) in item.description">
                            <span class="info-line__num">{{index+1}}</span>
                            {{book}}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <% include include/dialog.html %>
</div>
<script src="/static/js/zepto.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/pages/all.js"></script>
<script src="/static/js/pages/rank.js"></script>
</body>
</html>